@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Modeseven";
  src: local("Modeseven"),
   url("./assets/fonts/Modeseven.ttf") format("truetype");
  font-weight: normal;
  }


pre {
  font-family: "Modeseven";
  float:inline-start;
}

code {
  font-family: "Modeseven";
}

/* root app styling */
body {
  padding: 2.5rem;
  line-height: 1.5;
  margin: 0;
  cursor: pointer !important;
  background-image: linear-gradient(120deg, rgba(233,158,243,255), rgba(94,188,226,255));
  font-family: "Modeseven";
}

.welcomesite {
  text-align: right;
}

* {
  font-family: "Modeseven";
}

a:link {
  text-decoration: none;
  cursor: pointer !important
}

a:visited {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

@media only screen and (min-width: 768px) {
  .header, .footer {
    background-image: linear-gradient(120deg, rgba(94,188,226,255), rgba(233,158,243,255));
    padding-top: 3rem;
    left: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    max-width: 100vw;
    position: relative;
    right: 50%;
    width: 100vw;
    top: 50%;
    height: 12vw;
    margin-top: -5vw;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
