@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Modeseven";
  src: local("Modeseven"),
    url("./assets/fonts/Modeseven.ttf") format("truetype");
  font-weight: normal;
}

pre {
  font-family: "Modeseven";
  float: inline-start;
}

code {
  font-family: "Modeseven";
}

/* root app styling */
body {
  padding: 2.5rem;
  line-height: 1.5;
  margin: 0;
  cursor: crosshair !important;
  background-image: linear-gradient(
    120deg,
    rgba(233, 158, 243, 1),
    rgba(94, 188, 226, 1)
  );
  font-family: "Modeseven";
}

.welcomesite {
  text-align: right;
}

* {
  font-family: "Modeseven";
  cursor: crosshair !important;
}

html {
  cursor: crosshair !important;
}

a:link {
  text-decoration: none;
  cursor: crosshair !important;
}

a:visited {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.container {
  padding-bottom: 4.5rem;
}
.header,
.footer {
  background-color: transparent !important;
}

@media only screen and (min-width: 768px) {
  .slide-right {
    animation: slide-roll-large 15s linear infinite;
  }
  .header {
    background-image: linear-gradient(
      120deg,
      rgba(94, 188, 226, 1),
      rgba(233, 158, 243, 1)
    );
    padding-top: 3rem;
    left: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    max-width: 100vw;
    right: 50%;
    width: 100vw;
    height: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    /* z-index: 9001; */
  }
  .keyboardcontainer {
    display: table-cell;
    margin: 0;
    text-align: center;
  }
  
  .case {
    background-color: #463973;
    border-color: #2e2640;
    border-radius: 5px;
    border-style: solid;
    border-width: 8px 10px 15px 10px;
    display: inline-grid;
    grid-template-columns: repeat(36, 1fr);
    grid-template-rows: repeat(5, 1fr);
    height: 19em;
    padding: 5px;
    user-select: none;
    width: 60em;
  }
  
  .key {
    border-color: #382e59 #2e2640;
    border-radius: 2px;
    border-style: solid;
    border-width: 3px 5px 8px 5px;
    color: #bbadd9;
    display: block;
    font-family: sans-serif;
    font-size: 9px;
    font-weight: 800;
    grid-column-end: span 2;
    margin: 3px;
    padding-top: 2px;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
    transition: all 50ms ease-out;
    will-change: box-shadow, color, text-shadow;
  }
  
  .key:empty::before {
    content: attr(data-key);
  }
  
  .active {
    transform: perspective(1200px) translateZ(-90px);
  }
  
  .medium {
    grid-column-end: span 3;
  }
  
  .large {
    grid-column-end: span 4;
  }
  
  .xl {
    grid-column-end: span 5;
  }
  
  .xxl {
    grid-column-end: span 6;
  }
  
  .xxxl {
    grid-column-end: 7;
  }
  
  .huge {
    grid-column-end: span 12;
  }
  
}

.footer {
  background-image: linear-gradient(
    120deg,
    rgba(94, 188, 226, 255),
    rgba(233, 158, 243, 255)
  );
  left: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  /* max-width: 100vw; */
  position: fixed;
  bottom: 0;
  /* right: 50%; */
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 4rem;
  margin-top: 20%
}

html {
  @apply h-full;
}
body {
  @apply h-full;
}

.header {
  height: center;
}

.arrow {
  background-color: inherit !important;
  color: inherit;
  box-shadow: none !important;
  margin-bottom: 2rem;
  /* opacity: 0; */
}


.monitorcase {
  background-image: radial-gradient(
    rgb(74, 73, 73),
    rgb(54, 54, 54)
  );;
  border-color: #2e2640;
  border-radius: 20px;
  border-style: solid;
  border-width: 8px 10px 15px 10px;
  padding: 5px;
  user-select: none;
  color: #d0c3ec;
}

.mixercontainer {
  display: table-cell;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.mixer {
  background-color: #3E3855;
  border-color: #393740;
  border-radius: 5px;
  border-style: solid;
  border-width: 8px 10px 15px 10px;
  display: inline-grid;
  padding: 5px;
  user-select: none;
  width: min-content;
}

.mixbuttoncontainer {
  display: inline-grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  padding: 5px;
  user-select: none;
  width: min-content;
}

.mixbutton {
  /* border-color: #382e59 #2e2640; */
  width: 10em;
  height: 10em;
  border-radius: 2px;
  border-style: solid;
  border-width: 3px 5px 8px 5px;
  /* color: #bbadd9; */
  color: black;
  display: block;
  font-family: sans-serif;
  font-size: 9px;
  font-weight: 800;
  grid-column-end: span 1;
  margin: 8px;
  padding-top: 2px;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
  transition: all 50ms ease-out;
  will-change: box-shadow, color, text-shadow;
}

.key:empty::before {
  content: attr(data-key);
}

.blue {
  background-image: radial-gradient(
    #b9e7ff,
    #a4d4ee
  );
  border-color: #86B6D0 #6898B2
}

.green {
  background-image: radial-gradient(
    #c5fa88,
    #a6da6b
  );
  border-color: #88BC4D #6A9E2F
}

.yellow {
  background-image: radial-gradient(
    #ffeab6,
    #fde095
  );
  border-color: #C1A459 #DFC277
}

.pink {
  background-image: radial-gradient(
    #ffb4f8,
    #d98ed2
  );
  border-color: #9D5296 #BB70B4
}

.extra {
  background-image: radial-gradient(
    #5a4b79,
    #4e416a
  );
  border-color: #382e59 #2e2640;
}
@media (max-width: 768px) {
  .mixercontainer {
    transform: scale(0.4);
  }
  .mixer-parent {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* min-height: 100vh; Use viewport height to ensure full screen height */
  }
  .slide-right {
    animation: slide-roll-small 15s infinite;
  }
}
/* Element to be moved. Must have position: absolute */
.slide-right {
  position: absolute;
  right: 100%;
  bottom: 5%;
  transform: translateX(-50%);
  transform-origin: center;
}

@keyframes slide-roll-large {
  0% {
    left: -200px; /* Adjust this according to your image's width */
    transform: rotate(0);
  }
  66.7% {
    left: 100%;
    transform: rotate(0);
  }
  66.8% {
    transform: rotate(0);
  }
  100% {
    left: -200px; /* Adjust this according to your image's width */
    transform: rotate(-360deg);
  }
}

@keyframes slide-roll-small {
  0%, 100% {
    left: -200px; /* Adjust this according to your image's width */
    transform: translate(0, 0) rotate(0);
  }
  25% {
    left: 20%; /* Position where the bounce will happen */
    transform: translate(0, 0) rotate(0);
    animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1.5);
  }
  37.5% {
    left: 20%; /* Position where the bounce will happen */
    transform: translate(0, -50px) rotate(0); /* Height of the bounce */
    animation-timing-function: cubic-bezier(0.75, -0.5, 0.35, 1);
  }
  75% {
    left: 100%;
    transform: translate(0, 0) rotate(0);
    animation-timing-function: linear;
  }
  75.1% {
    transform: translate(0, 0) rotate(0);
  }
  100% {
    left: -200px; /* Adjust this according to your image's width */
    transform: translate(0, 0) rotate(-360deg);
  }
}
