@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Modeseven";
  src: local("Modeseven"),
    url("./assets/fonts/Modeseven.ttf") format("truetype");
  font-weight: normal;
}

pre {
  font-family: "Modeseven";
  float: inline-start;
}

code {
  font-family: "Modeseven";
}

/* root app styling */
body {
  padding: 2.5rem;
  line-height: 1.5;
  margin: 0;
  cursor: crosshair !important;
  background-image: linear-gradient(
    120deg,
    rgba(233, 158, 243, 1),
    rgba(94, 188, 226, 1)
  );
  font-family: "Modeseven";
}

.welcomesite {
  text-align: right;
}

* {
  font-family: "Modeseven";
  cursor: crosshair !important;
}

html {
  cursor: crosshair !important;
}

a:link {
  text-decoration: none;
  cursor: crosshair !important;
}

a:visited {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.header,
.footer {
  background-color: transparent !important;
}

@media only screen and (min-width: 768px) {
  .header {
    background-image: linear-gradient(
      120deg,
      rgba(94, 188, 226, 1),
      rgba(233, 158, 243, 1)
    );
    padding-top: 3rem;
    left: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    max-width: 100vw;
    right: 50%;
    width: 100vw;
    height: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    z-index: 9001;
  }
  .keyboardcontainer {
    display: table-cell;
    margin: 0;
    text-align: center;
  }
  
  .case {
    background-color: #463973;
    border-color: #2e2640;
    border-radius: 5px;
    border-style: solid;
    border-width: 8px 10px 15px 10px;
    display: inline-grid;
    grid-template-columns: repeat(36, 1fr);
    grid-template-rows: repeat(5, 1fr);
    height: 19em;
    padding: 5px;
    user-select: none;
    width: 60em;
  }
  
  .key {
    border-color: #382e59 #2e2640;
    border-radius: 2px;
    border-style: solid;
    border-width: 3px 5px 8px 5px;
    color: #bbadd9;
    display: block;
    font-family: sans-serif;
    font-size: 9px;
    font-weight: 800;
    grid-column-end: span 2;
    margin: 3px;
    padding-top: 2px;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
    transition: all 50ms ease-out;
    will-change: box-shadow, color, text-shadow;
  }
  
  .key:empty::before {
    content: attr(data-key);
  }
  
  .active {
    transform: perspective(1200px) translateZ(-90px);
  }
  
  .medium {
    grid-column-end: span 3;
  }
  
  .large {
    grid-column-end: span 4;
  }
  
  .xl {
    grid-column-end: span 5;
  }
  
  .xxl {
    grid-column-end: span 6;
  }
  
  .xxxl {
    grid-column-end: 7;
  }
  
  .huge {
    grid-column-end: span 12;
  }
  
}

.footer {
  background-image: linear-gradient(
    120deg,
    rgba(94, 188, 226, 255),
    rgba(233, 158, 243, 255)
  );
  left: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  max-width: 100vw;
  position: fixed;
  bottom: 0;
  right: 50%;
  width: 100vw;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 4rem;
}

html {
  @apply h-full;
}
body {
  @apply h-full;
}

.header {
  height: center;
}

.arrow {
  background-color: inherit !important;
  color: inherit;
  box-shadow: none !important;
  margin-bottom: 2rem;
  /* opacity: 0; */
}


.monitorcase {
  background-image: radial-gradient(
    rgb(74, 73, 73),
    rgb(54, 54, 54)
  );;
  border-color: #2e2640;
  border-radius: 20px;
  border-style: solid;
  border-width: 8px 10px 15px 10px;
  height: 21rem;
  padding: 5px;
  user-select: none;
  color: #d0c3ec;
}
